<section class="contract-property-details">
  <h2 class="contract-section-title">PRÉCISIONS SUR LE BIEN LOUÉ</h2>
  <table class="contract-table">
    <tbody>
      <tr><th>Type</th><td>{{furnishedLabel}}</td></tr>
      <tr><th>Appartement / unité</th><td>{{unitLabel}}</td></tr>
      <tr><th>Immeuble</th><td>{{buildingName}}</td></tr>
      <tr><th>Nombre de chambres</th><td>{{bedrooms}}</td></tr>
      <tr><th>Nombre de parkings</th><td>{{parkingSpaces}}</td></tr>
      <tr><th>Date de début du bail</th><td>{{startDate}}</td></tr>
    </tbody>
  </table>
</section>
