<section class="lease-signatures">
  <table class="lease-signature-table lease-signature-title-table">
    <tbody>
      <tr>
        <th>LE PRENEUR</th>
        <th>LE BAILLEUR</th>
      </tr>
    </tbody>
  </table>
  <table class="lease-signature-table lease-signature-body-table">
    <tbody>
      <tr><td></td><td></td></tr>
      <tr><td></td><td></td></tr>
      <tr><td></td><td></td></tr>
      <tr><td></td><td></td></tr>
      <tr><td></td><td></td></tr>
    </tbody>
  </table>
</section>
